input[type="text"], input[type="email"] {
  height: 32px;
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
}

textarea {
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
}

input[type="submit"] {
  -webkit-appearance: quest_button;
  appearance: quest_button;
  width: 120px;
  height: 32px;
}

.comment-form label {
  display: block;
}

.comments_number {
  color: var(--sub-bg-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  padding-right: 10px;
  padding-left: 10px;
}

.comments_number_zero {
  color: var(--accent-color);
  background-color: var(--sub-bg-color);
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  border: solid 2px var(--accent-color);
  padding-right: 10px;
  padding-left: 10px;
}

/* ホバー状態 */

.comments_number:hover {
  color: var(--sub-bg-color);
  text-decoration: underline;
}

/* クリックされた状態 */

.comments_number:active {
  color: var(--main-color);
}

.comments_number_zero:active {
  color: var(--main-color);
}

#comments {
  display: none;
}

.comment-lists-wrap {}

.comment-lists-wrap ol {
  list-style-position: inside;
}

.comment-lists-wrap ol li {
  overflow: hidden;
}

.comment-lists-wrap ol li.even {
  /* コメントグループの区切り */
  border-bottom: 1px solid #F9003C;
}

.comment-lists-wrap ol .comment {}

.comment-lists-wrap ol .children {
  /* 返信コメントの部分 */
  margin-left: 10%;
}

.reply {
  display: none;
}

.comment-author {
  /* アバター */
  width: 20%;
  float: left;
  overflow: hidden;
}

.comment-author img {
  display: block;
  border-radius: 50%;
  zoom: 1.5;
}

span.says {
  /* コメント投稿者の「より」を非表示 */
  display: none;
}

.comment-body {
  clear: both;
  margin-top: 2%;
  overflow: hidden;
}

.comment-body p {
  display: inline-block;
  position: relative;
  margin: 0 30px 0 0;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 350px;
  border-radius: 12px;
  background: var(--comment-color);
  font-size: 15px;
}

.comment-body p:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid var(--comment-color);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.fn {
  /* コメント投稿者の名前の部分（デフォルトではイタリックになってる部分） */
  display: block;
  font-style: normal;
  clear: both;
  text-align: center;
}

.comment-meta {
  /* コメント投稿日 */
  text-align: right;
  font-size: 6px;
}

.comment-meta a {
  color: #626262;
}