input[type="text"], input[type="email"] {
  height: 32px;
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
}

textarea {
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 100%;
}

input[type="submit"] {
  -webkit-appearance: quest_button;
  appearance: quest_button;
  width: 120px;
  height: 32px;
}

.comment-form label {
  display: block;
}

.comments_number {
  color: var(--sub-bg-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 12px;
}

.comments_number_zero {
  color: var(--accent-color);
  background-color: var(--sub-bg-color);
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  border: solid 2px var(--accent-color);
}