.main-navigation {
  position: fixed;
  z-index: 999;
  height: 50px;
  width: 100%;
  background: var(--main-color);
  opacity: 0.9;
}

.main-navigation ul {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.main-navigation li {
  list-style: none;
  margin-right: 30px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  color: var(--sub-bg-color);
  text-decoration: none;
}

.main-navigation a:hover {
  text-decoration: underline;
}

.header-close-button {
  position: absolute;
  top: 26px;
  right: 30px;
  z-index: 11;
}