/* common */

@media (max-width:768px) {
  .column-center {
    width: auto;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .header-image h1 {
    bottom: 50%;
    transform: translateY(50%);
  }
}

/* header */

@media (max-width:768px) {
  .main-navigation {
    display: none;
    width: 150px;
    background: var(--main-color);
    height: 100vh;
    right: 0;
  }
  .main-navigation ul {
    flex-direction: column;
    margin-top: 58px;
    margin-left: 58px;
    height: auto;
    align-items: flex-start;
    color: var(--main-color);
  }
  .main-navigation li {
    margin: 0 0 40px;
    color: var(--main-color);
  }
  .header-open-button {
    width: 46px;
    height: 46px;
    background-color: #fff;
    background-image: url(../images/menu-open-button@2x.png);
    background-size: 22px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 23px;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .header-close-button {
    width: 18px;
    height: 24px;
    ;
    background-image: url(../images/menu-close-button@2x.png);
    background-size: 18px 24px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* shop */

@media (max-width:768px) {
  .shop-table th, .shop-table td {
    display: block;
    width: auto;
  }
  .shop-table th {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .shop-table td {
    padding-top: 0;
  }
  .shop-map {
    margin-bottom: 40px;
  }
  .shop-map img {
    width: 100%;
    height: auto;
  }
}

/* menu */

@media (max-width:768px) {
  .menu-list {
    width: auto;
    margin: 0 30px;
  }
  .menu-list-item {
    margin: 0 0 20px 0;
  }
  .menu-list-item img {
    width: 86px;
    height: 86px;
  }
  .menu-list-item-description {
    padding-left: 102px;
  }
}

/* special */

@media (max-width:768px) {
  .special-list {
    width: auto;
    justify-content: center;
  }
  .wp-block-image img {
    max-width: 100%;
    height: 300px;
  }
  .special-list .wp-block-image {
    margin: 0 30px 20px !important;
  }
  .special-list .wp-block-image:nth-child(3n) {
    margin: 0 30px 20px !important;
  }
}

/* contact */

@media (max-width:768px) {
  .contact-table th {
    line-height: 1;
  }
  .contact-table th, .contact-table td {
    display: block;
    padding-bottom: 20px;
  }
  .contact-table textarea {
    width: auto;
  }
  .contact-table input[type="text"], .contact-table input[type="email"], .contact-table textarea {
    width: 100%;
    box-sizing: border-box;
  }
}