@media (max-width: 768px) {
  .column-center {
    width: auto;
    padding: 0 30px;
    box-sizing: border-box;
  }
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  .header-image h1 {
    bottom: 50%;
    transform: translateY(50%);
  }
}

@media (max-width: 768px) {
  .menu-icon {
    /* display: block;
    max-width: 50%;
    margin: 0 auto; */
    float: left;
  }
  .pmenu-icon {
    /* display: block;
    max-width: 50%;
    margin: 0 auto; */
    display: inline;
    margin-bottom: 15px;
    margin-left: 15px;
    line-height: 1.6em;
  }
  .main-navigation {
    position: fixed;
    display: none;
    width: 250px;
    background: var(--main-color);
    opacity: 0.9;
    height: 20vh;
    right: 0;
    top: 86px;
  }
  .main-navigation ul {
    flex-direction: column;
    margin-top: 30px;
    margin-left: 5px;
    /* height: auto; */
    width: 100%;
    align-items: flex-start;
    color: var(--main-color);
  }
  .main-navigation li {
    width: 100%;
    color: #fff;
    height: 40px;
    /* padding-bottom: 7px; */
  }
  .main-navigation li:hover {
    list-style: none;
    justify-content: center;
    height: 33px;
    border-bottom: solid 7px var(--comment-color);
    transition: 0.2s;
  }
  .header-open-button {
    width: 46px;
    height: 46px;
    background-color: #fff;
    background-image: url(../images/menu-open-button@2x.png);
    background-size: 22px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 23px;
    position: fixed;
    right: 15px;
    top: 30px;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .header-close-button {
    width: 46px;
    height: 46px;
    background-color: #fff;
    background-image: url(../images/menu-close-button@2x.png);
    background-size: 22px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 23px;
    position: fixed;
    right: 15px;
    top: 30px;
    z-index: 12;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .menu-list {
    width: auto;
    margin: 0 30px;
  }
  .menu-list-item {
    margin: 0 0 20px 0;
  }
  .menu-list-item img {
    width: 86px;
    height: 86px;
  }
  .menu-list-item-description {
    padding-left: 102px;
  }
}

@media (max-width: 768px) {
  .contact-table th {
    line-height: 1;
  }
  .contact-table th, .contact-table td {
    display: block;
    padding-bottom: 20px;
  }
  .contact-table textarea {
    width: auto;
  }
  .contact-table input[type="text"], .contact-table input[type="email"], .contact-table textarea {
    width: 100%;
    box-sizing: border-box;
  }
}